
.products-page {
    text-align: center;
    margin-top: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #45a049;
}